.img-wrapper {
  width: 98px;
}

.food-img {
  width: 98px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.img-wrapper:hover .food-img {
  opacity: 0.8;
}

.modal-custom {
  max-width: 600px;   /* fixed width */
  max-height: 400px;  /* fixed height */
  width: 600px;
  height: 400px;
}

/* Modal content should fill dialog */
.modal-custom .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}